body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: greenyellow;
}

header {
    background-color: rgb(1, 37, 46);
    color: greenyellow;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgb(0, 28, 35);
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    color: #666;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

a {
    color: #2563eb;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


